[Unit]
Description=Sensor Data Service
After=gps.service

[Service]
ExecStart=/usr/bin/python3 /home/jerry/TrackTrail-hardware/main.py
WorkingDirectory=/home/jerry/TrackTrail-hardware
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
